<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.talent.measureservice.service.mapper.MeasureMapper">

	<select id="queryTraininfo" parameterType="trainmeasure"
		resultType="trainmeasure">
		select carno,
		cartype,
		matchid,
		operatype,
		operaname,
		planid,
		materialcode,
		materialname,
		materialspeccode,
		materialspec,
		sourcecode,
		sourcename,
		sourceplace,
		sourcetime,
		sourceoperacode,
		sourceoperaname,
		targetcode,
		targetname,
		targetplace,
		targettime,
		targetoperacode,
		targetoperaname,
		materialcount,
		planweight,
		gross,
		grosstime,
		grossweighid,
		grossweigh,
		grossweighgroup,
		grossoperacode,
		grossoperaname,
		grossgroupno,
		grossserial,
		grossspeed,
		grosslogid,
		tare,
		taretime,
		tareweighid,
		tareweigh,
		tareweighgroup,
		tareoperacode,
		tareoperaname,
		taregroupno,
		tareserial,
		tarelogid,
		tarespeed,
		deduction,
		deductiontime,
		deductioncode,
		deductionname,
		deductionoperacode,
		deductionoperaname,
		suttle,
		suttletime,
		suttleweighid,
		suttleweigh,
		suttleoperacode,
		suttleoperaname,
		measurestate,
		memo2,
		memo3,
		memo4,
		memo5
		from l_traininfo_v
		<where>
			<if test="carnos !=null and carnos !=''">
				carno in
				<foreach collection="carnos" item="item" index="index" open="("
					close=")" separator=",">
					#{item}
				</foreach>
			</if>
		</where>
	</select>
	<select id="queryTraininfoPlan" parameterType="trainmeasure"
		resultType="trainmeasure">
		select carno,
		cartype,
		matchid,
		operatype,
		operaname,
		planid,
		materialcode,
		materialname,
		materialspeccode,
		materialspec,
		sourcecode,
		sourcename,
		sourceplace,
		sourcetime,
		sourceoperacode,
		sourceoperaname,
		targetcode,
		targetname,
		targetplace,
		targettime,
		targetoperacode,
		targetoperaname,
		materialcount,
		planweight,
		gross,
		grosstime,
		grossweighid,
		grossweigh,
		grossweighgroup,
		grossoperacode,
		grossoperaname,
		grossgroupno,
		grossserial,
		grossspeed,
		grosslogid,
		tare,
		taretime,
		tareweighid,
		tareweigh,
		tareweighgroup,
		tareoperacode,
		tareoperaname,
		taregroupno,
		tareserial,
		tarelogid,
		tarespeed,
		deduction,
		deductiontime,
		deductioncode,
		deductionname,
		deductionoperacode,
		deductionoperaname,
		suttle,
		suttletime,
		suttleweighid,
		suttleweigh,
		suttleoperacode,
		suttleoperaname,
		measurestate,
		memo2,
		memo3,
		memo4,
		memo5
		from l_traininfo_plan_v
		<where>
			<if test="carnos !=null and carnos !=''">
				carno in
				<foreach collection="carnos" item="item" index="index" open="("
					close=")" separator=",">
					#{item}
				</foreach>
			</if>
		</where>
	</select>
	<insert id="insertCurrtemp" parameterType="measure">
		insert into
		l_curr_temp_t
		(validflag,
		carno,
		cartype,
		icid,
		ictype,
		icno,
		rfidid,
		rfidtype,
		rfidno,
		matchid,
		matchidb,
		operatype,
		planid,
		taskcode,
		basket,
		materialcode,
		materialname,
		materialspeccode,
		materialspec,
		shipcode,
		ship,
		sourcecode,
		sourcename,
		sourcetime,
		sourceplace,
		targetcode,
		targetname,
		targettime,
		targetplace,
		planweight,
		planmaterialcount,
		materialcount,
		plancarcount,
		gross,
		grosstime,
		grossweighid,
		grossweigh,
		grossoperacode,
		grossoperaname,
		grossgroupno,
		grossserial,
		grossspeed,
		grosslogid,
		tare,
		taretime,
		tareweighid,
		tareweigh,
		tareoperacode,
		tareoperaname,
		taregroupno,
		tareserial,
		tarelogid,
		tarespeed,
		deduction,
		deduction2,
		deductiontime,
		deductioncode,
		deductionname,
		deductionoperacode,
		deductionoperaname,
		suttle,
		suttletime,
		suttleweighid,
		suttleweigh,
		suttleoperacode,
		suttleoperaname,
		grossb,
		grosstimeb,
		grossweighidb,
		grossweighb,
		grossoperacodeb,
		grossoperanameb,
		grossgroupnob,
		grossserialb,
		grossspeedb,
		grosslogidb,
		tareb,
		taretimeb,
		tareweighidb,
		tareweighb,
		tareoperacodeb,
		tareoperanameb,
		taregroupnob,
		tareserialb,
		tarelogidb,
		tarespeedb,
		batchcode,
		sampletime,
		dflag,
		bflag,
		mstate,
		usermemo,
		sysmemo,memo1,
		memo2,
		memo3,
		memo4,
		memo5,
		memo6,
		memo7,
		memo8,
		memo9,
		memo10,
		memo11,
		memo12,
		memo13,
		memo14,
		memo15)
		values
		(#{validflag,jdbcType=VARCHAR},
		#{carno,jdbcType=VARCHAR},
		#{cartype,jdbcType=VARCHAR},
		#{icid,jdbcType=VARCHAR},
		#{ictype,jdbcType=VARCHAR},
		#{icno,jdbcType=VARCHAR},
		#{rfidid,jdbcType=VARCHAR},
		#{rfidtype,jdbcType=VARCHAR},
		#{rfidno,jdbcType=VARCHAR},
		#{matchid,jdbcType=VARCHAR},
		#{matchidb,jdbcType=VARCHAR},
		#{operatype,jdbcType=VARCHAR},
		#{planid,jdbcType=VARCHAR},
		#{taskcode,jdbcType=VARCHAR},
		#{basket,jdbcType=VARCHAR},
		#{materialcode,jdbcType=VARCHAR},
		#{materialname,jdbcType=VARCHAR},
		#{materialspeccode,jdbcType=VARCHAR},
		#{materialspec,jdbcType=VARCHAR},
		#{shipcode,jdbcType=VARCHAR},
		#{ship,jdbcType=VARCHAR},
		#{sourcecode,jdbcType=VARCHAR},
		#{sourcename,jdbcType=VARCHAR},
		#{sourcetime,jdbcType=VARCHAR},
		#{sourceplace,jdbcType=VARCHAR},
		#{targetcode,jdbcType=VARCHAR},
		#{targetname,jdbcType=VARCHAR},
		#{targettime,jdbcType=VARCHAR},
		#{targetplace,jdbcType=VARCHAR},
		#{planweight,jdbcType=VARCHAR},
		#{planmaterialcount,jdbcType=VARCHAR},
		#{materialcount,jdbcType=VARCHAR},
		#{plancarcount,jdbcType=VARCHAR},
		#{gross,jdbcType=VARCHAR},
		#{grosstime,jdbcType=VARCHAR},
		#{grossweighid,jdbcType=VARCHAR},
		#{grossweigh,jdbcType=VARCHAR},
		#{grossoperacode,jdbcType=VARCHAR},
		#{grossoperaname,jdbcType=VARCHAR},
		#{grossgroupno,jdbcType=VARCHAR},
		#{grossserial,jdbcType=VARCHAR},
		#{grossspeed,jdbcType=VARCHAR},
		#{grosslogid,jdbcType=VARCHAR},
		#{tare,jdbcType=VARCHAR},
		#{taretime,jdbcType=VARCHAR},
		#{tareweighid,jdbcType=VARCHAR},
		#{tareweigh,jdbcType=VARCHAR},
		#{tareoperacode,jdbcType=VARCHAR},
		#{tareoperaname,jdbcType=VARCHAR},
		#{taregroupno,jdbcType=VARCHAR},
		#{tareserial,jdbcType=VARCHAR},
		#{tarelogid,jdbcType=VARCHAR},
		#{tarespeed,jdbcType=VARCHAR},
		#{deduction,jdbcType=VARCHAR},
		#{deduction2,jdbcType=VARCHAR},
		#{deductiontime,jdbcType=VARCHAR},
		#{deductioncode,jdbcType=VARCHAR},
		#{deductionname,jdbcType=VARCHAR},
		#{deductionoperacode,jdbcType=VARCHAR},
		#{deductionoperaname,jdbcType=VARCHAR},
		#{suttle,jdbcType=VARCHAR},
		#{suttletime,jdbcType=VARCHAR},
		#{suttleweighid,jdbcType=VARCHAR},
		#{suttleweigh,jdbcType=VARCHAR},
		#{suttleoperacode,jdbcType=VARCHAR},
		#{suttleoperaname,jdbcType=VARCHAR},
		#{grossb,jdbcType=VARCHAR},
		#{grosstimeb,jdbcType=VARCHAR},
		#{grossweighidb,jdbcType=VARCHAR},
		#{grossweighb,jdbcType=VARCHAR},
		#{grossoperacodeb,jdbcType=VARCHAR},
		#{grossoperanameb,jdbcType=VARCHAR},
		#{grossgroupnob,jdbcType=VARCHAR},
		#{grossserialb,jdbcType=VARCHAR},
		#{grossspeedb,jdbcType=VARCHAR},
		#{grosslogidb,jdbcType=VARCHAR},
		#{tareb,jdbcType=VARCHAR},
		#{taretimeb,jdbcType=VARCHAR},
		#{tareweighidb,jdbcType=VARCHAR},
		#{tareweighb,jdbcType=VARCHAR},
		#{tareoperacodeb,jdbcType=VARCHAR},
		#{tareoperanameb,jdbcType=VARCHAR},
		#{taregroupnob,jdbcType=VARCHAR},
		#{tareserialb,jdbcType=VARCHAR},
		#{tarelogidb,jdbcType=VARCHAR},
		#{tarespeedb,jdbcType=VARCHAR},
		#{batchcode,jdbcType=VARCHAR},
		#{sampletime,jdbcType=VARCHAR},
		#{dflag,jdbcType=VARCHAR},
		#{bflag,jdbcType=VARCHAR},
		#{mstate,jdbcType=VARCHAR},
		#{usermemo,jdbcType=VARCHAR},
		#{sysmemo,jdbcType=VARCHAR},
		#{memo1,jdbcType=VARCHAR},
		#{memo2,jdbcType=VARCHAR},
		#{memo3,jdbcType=VARCHAR},
		#{memo4,jdbcType=VARCHAR},
		#{memo5,jdbcType=VARCHAR},
		#{memo6,jdbcType=VARCHAR},
		#{memo7,jdbcType=VARCHAR},
		#{memo8,jdbcType=VARCHAR},
		#{memo9,jdbcType=VARCHAR},
		#{memo10,jdbcType=VARCHAR},
		#{memo11,jdbcType=VARCHAR},
		#{memo12,jdbcType=VARCHAR},
		#{memo13,jdbcType=VARCHAR},
		#{memo14,jdbcType=VARCHAR},
		#{memo15,jdbcType=VARCHAR})
	</insert>

	<update id="updateCurrtemp" parameterType="measure">
		update l_curr_temp_t
		set validflag = #{validflag,jdbcType=VARCHAR},
		cartype =#{cartype,jdbcType=VARCHAR},
		icid = #{icid,jdbcType=VARCHAR},
		ictype =#{ictype,jdbcType=VARCHAR},
		icno = #{icno,jdbcType=VARCHAR},
		rfidid =#{rfidid,jdbcType=VARCHAR},
		rfidtype = #{rfidtype,jdbcType=VARCHAR},
		rfidno = #{rfidno,jdbcType=VARCHAR},
		matchid =#{matchid,jdbcType=VARCHAR},
		matchidb = #{matchidb,jdbcType=VARCHAR},
		operatype = #{operatype,jdbcType=VARCHAR},
		planid =#{planid,jdbcType=VARCHAR},
		taskcode = #{taskcode,jdbcType=VARCHAR},
		basket = #{basket,jdbcType=VARCHAR},
		materialcode =#{materialcode,jdbcType=VARCHAR},
		materialname =#{materialname,jdbcType=VARCHAR},
		materialspeccode =#{materialspeccode,jdbcType=VARCHAR},
		materialspec =#{materialspec,jdbcType=VARCHAR},
		shipcode =#{shipcode,jdbcType=VARCHAR},
		ship = #{ship,jdbcType=VARCHAR},
		sourcecode = #{sourcecode,jdbcType=VARCHAR},
		sourcename =#{sourcename,jdbcType=VARCHAR},
		sourceplace =#{sourceplace,jdbcType=VARCHAR},
		sourcetime =#{sourcetime,jdbcType=VARCHAR},
		sourceoperacode =#{sourceoperacode,jdbcType=VARCHAR},
		sourceoperaname =#{sourceoperaname,jdbcType=VARCHAR},
		targetcode =#{targetcode,jdbcType=VARCHAR},
		targetname =#{targetname,jdbcType=VARCHAR},
		targetplace =#{targetplace,jdbcType=VARCHAR},
		targettime =#{targettime,jdbcType=VARCHAR},
		targetoperacode =#{targetoperacode,jdbcType=VARCHAR},
		targetoperaname =#{targetoperaname,jdbcType=VARCHAR},
		planweight =#{planweight,jdbcType=VARCHAR},
		planmaterialcount =#{planmaterialcount,jdbcType=VARCHAR},
		materialcount =#{materialcount,jdbcType=VARCHAR},
		plancarcount =#{plancarcount,jdbcType=VARCHAR},
		gross = #{gross,jdbcType=VARCHAR},
		grosstime = #{grosstime,jdbcType=VARCHAR},
		grossweighid =#{grossweighid,jdbcType=VARCHAR},
		grossweigh =#{grossweigh,jdbcType=VARCHAR},
		grossweighgroup =#{grossweighgroup,jdbcType=VARCHAR},
		grossoperacode =#{grossoperacode,jdbcType=VARCHAR},
		grossoperaname =#{grossoperaname,jdbcType=VARCHAR},
		grossgroupno =#{grossgroupno,jdbcType=DECIMAL},
		grossserial =#{grossserial,jdbcType=DECIMAL},
		grossspeed =#{grossspeed,jdbcType=DECIMAL},
		grosslogid =#{grosslogid,jdbcType=VARCHAR},
		tare = #{tare,jdbcType=VARCHAR},
		taretime = #{taretime,jdbcType=VARCHAR},
		tareweighid =#{tareweighid,jdbcType=VARCHAR},
		tareweigh =#{tareweigh,jdbcType=VARCHAR},
		tareweighgroup =#{tareweighgroup,jdbcType=VARCHAR},
		tareoperacode =#{tareoperacode,jdbcType=VARCHAR},
		tareoperaname =#{tareoperaname,jdbcType=VARCHAR},
		taregroupno =#{taregroupno,jdbcType=VARCHAR},
		tareserial =#{tareserial,jdbcType=VARCHAR},
		tarelogid =#{tarelogid,jdbcType=VARCHAR},
		tarespeed =#{tarespeed,jdbcType=VARCHAR},
		deduction =#{deduction,jdbcType=VARCHAR},
		deduction2 =#{deduction2,jdbcType=VARCHAR},
		deductiontime =#{deductiontime,jdbcType=VARCHAR},
		deductioncode =#{deductioncode,jdbcType=VARCHAR},
		deductionname =#{deductionname,jdbcType=VARCHAR},
		deductionoperacode =#{deductionoperacode,jdbcType=VARCHAR},
		deductionoperaname =#{deductionoperaname,jdbcType=VARCHAR},
		suttle =#{suttle,jdbcType=VARCHAR},
		suttletime =#{suttletime,jdbcType=VARCHAR},
		suttleweighid =#{suttleweighid,jdbcType=VARCHAR},
		suttleweigh =#{suttleweigh,jdbcType=VARCHAR},
		suttleoperacode =#{suttleoperacode,jdbcType=VARCHAR},
		suttleoperaname =#{suttleoperaname,jdbcType=VARCHAR},
		entertime =#{entertime,jdbcType=VARCHAR},
		entergatecode =#{entergatecode,jdbcType=VARCHAR},
		entergatename =#{entergatename,jdbcType=VARCHAR},
		leavetime =#{leavetime,jdbcType=VARCHAR},
		leavegatecode =#{leavegatecode,jdbcType=VARCHAR},
		leavegatename =#{leavegatename,jdbcType=VARCHAR},
		grossb = #{grossb,jdbcType=VARCHAR},
		grosstimeb = #{grosstimeb,jdbcType=VARCHAR},
		grossweighidb =#{grossweighidb,jdbcType=VARCHAR},
		grossweighb =#{grossweighb,jdbcType=VARCHAR},
		grossweighgroupb =#{grossweighgroupb,jdbcType=VARCHAR},
		grossoperacodeb =#{grossoperacodeb,jdbcType=VARCHAR},
		grossoperanameb =#{grossoperanameb,jdbcType=VARCHAR},
		grossgroupnob =#{grossgroupnob,jdbcType=VARCHAR},
		grossserialb =#{grossserialb,jdbcType=VARCHAR},
		grossspeedb =#{grossspeedb,jdbcType=VARCHAR},
		grosslogidb =#{grosslogidb,jdbcType=VARCHAR},
		tareb = #{tareb,jdbcType=VARCHAR},
		taretimeb = #{taretimeb,jdbcType=VARCHAR},
		tareweighidb =#{tareweighidb,jdbcType=VARCHAR},
		tareweighb =#{tareweighb,jdbcType=VARCHAR},
		tareweighgroupb =#{tareweighgroupb,jdbcType=VARCHAR},
		tareoperacodeb =#{tareoperacodeb,jdbcType=VARCHAR},
		tareoperanameb =#{tareoperanameb,jdbcType=VARCHAR},
		taregroupnob =#{taregroupnob,jdbcType=VARCHAR},
		tareserialb =#{tareserialb,jdbcType=VARCHAR},
		tarelogidb =#{tarelogidb,jdbcType=VARCHAR},
		tarespeedb =#{tarespeedb,jdbcType=VARCHAR},
		dflag = #{dflag,jdbcType=VARCHAR},
		bflag = #{bflag,jdbcType=VARCHAR},
		mstate = #{mstate,jdbcType=VARCHAR},
		usermemo = #{usermemo,jdbcType=VARCHAR},
		sysmemo =#{sysmemo,jdbcType=VARCHAR}
		where carno = #{carno,jdbcType=VARCHAR}
		and  matchid = #{matchid,jdbcType=VARCHAR}
	</update>
     <select id="queryCurrCount" parameterType="measure" resultType="int">
       select count(1) from  l_curr_temp_t  where matchid=#{matchid,jdbcType=VARCHAR}
     </select>
	<update id="cancelCurrtemp" parameterType="measure">
		update l_curr_temp_t
		set validflag=0 where matchid=#{matchid,jdbcType=VARCHAR}
	</update>
	<insert id="insertMeasure" parameterType="measure">
		insert into m_measure_t
		(matchid,
		carno,
		cartype,
		rfidid,
		icid,
		operatype,
		planid,
		taskcode,
		materialcode,
		materialname,
		materialspeccode,
		materialspec,
		shipcode,
		ship,
		sourcecode,
		sourcename,
		sourcetime,
		sourceplace,
		targetcode,
		targetname,
		targettime,
		targetplace,
		basket,
		planweight,
		planmaterialcount,
		materialcount,
		plancarcount,
		gross,
		grosstime,
		grossweighid,
		grossweigh,
		grossoperacode,
		grossoperaname,
		grossgroupno,
		grossserial,
		grossspeed,
		grosslogid,
		tare,
		taretime,
		tareweighid,
		tareweigh,
		tareoperacode,
		tareoperaname,
		taregroupno,
		tareserial,
		tarelogid,
		tarespeed,
		deduction,
		deduction2,
		deductiontime,
		deductioncode,
		deductionname,
		deductionoperacode,
		deductionoperaname,
		suttle,
		suttletime,
		suttleweighid,
		suttleweigh,
		suttleoperacode,
		suttleoperaname,
		matchidb,
		suttleb,
		grossb,
		grosstimeb,
		grossweighidb,
		grossweighb,
		grossoperacodeb,
		grossoperanameb,
		grossgroupnob,
		grossserialb,
		grossspeedb,
		grosslogidb,
		tareb,
		taretimeb,
		tareweighidb,
		tareweighb,
		tareoperacodeb,
		tareoperanameb,
		taregroupnob,
		tareserialb,
		tarelogidb,
		tarespeedb,
		batchcode,
		bflag,
		usermemo,
		sysmemo,
		recordtype,
		memo1,
		memo2,
		memo3,
		memo4,
		memo5,
		memo6,
		memo7,
		memo8,
		memo9,
		memo10,
		memo11,
		memo12,
		memo13,
		memo14,
		memo15
		)
		values
		(#{matchid,jdbcType=VARCHAR},
		#{carno,jdbcType=VARCHAR},
		#{cartype,jdbcType=VARCHAR},
		#{rfidid,jdbcType=VARCHAR},
		#{icid,jdbcType=VARCHAR},
		#{operatype,jdbcType=VARCHAR},
		#{planid,jdbcType=VARCHAR},
		#{taskcode,jdbcType=VARCHAR},
		#{materialcode,jdbcType=VARCHAR},
		#{materialname,jdbcType=VARCHAR},
		#{materialspeccode,jdbcType=VARCHAR},
		#{materialspec,jdbcType=VARCHAR},
		#{shipcode,jdbcType=VARCHAR},
		#{ship,jdbcType=VARCHAR},
		#{sourcecode,jdbcType=VARCHAR},
		#{sourcename,jdbcType=VARCHAR},
		to_date(#{sourcetime,jdbcType=VARCHAR},'yyyy-MM-dd hh24:mi:ss'),
		#{sourceplace,jdbcType=VARCHAR},
		#{targetcode,jdbcType=VARCHAR},
		#{targetname,jdbcType=VARCHAR},
		to_date(#{targettime,jdbcType=VARCHAR},'yyyy-MM-dd hh24:mi:ss'),
		#{targetplace,jdbcType=VARCHAR},
		#{basket,jdbcType=VARCHAR},
		#{planweight,jdbcType=VARCHAR},
		#{planmaterialcount,jdbcType=VARCHAR},
		#{materialcount,jdbcType=VARCHAR},
		#{plancarcount,jdbcType=VARCHAR},
		#{gross,jdbcType=VARCHAR},
		to_date(#{grosstime,jdbcType=VARCHAR},'yyyy-MM-dd hh24:mi:ss'),
		#{grossweighid,jdbcType=VARCHAR},
		#{grossweigh,jdbcType=VARCHAR},
		#{grossoperacode,jdbcType=VARCHAR},
		#{grossoperaname,jdbcType=VARCHAR},
		#{grossgroupno,jdbcType=VARCHAR},
		#{grossserial,jdbcType=VARCHAR},
		#{grossspeed,jdbcType=VARCHAR},
		#{grosslogid,jdbcType=VARCHAR},
		#{tare,jdbcType=VARCHAR},
		to_date(#{taretime,jdbcType=VARCHAR},'yyyy-MM-dd hh24:mi:ss'),
		#{tareweighid,jdbcType=VARCHAR},
		#{tareweigh,jdbcType=VARCHAR},
		#{tareoperacode,jdbcType=VARCHAR},
		#{tareoperaname,jdbcType=VARCHAR},
		#{taregroupno,jdbcType=VARCHAR},
		#{tareserial,jdbcType=VARCHAR},
		#{tarelogid,jdbcType=VARCHAR},
		#{tarespeed,jdbcType=VARCHAR},
		#{deduction,jdbcType=VARCHAR},
		#{deduction2,jdbcType=VARCHAR},
		to_date(#{deductiontime,jdbcType=VARCHAR},'yyyy-MM-dd hh24:mi:ss'),
		#{deductioncode,jdbcType=VARCHAR},
		#{deductionname,jdbcType=VARCHAR},
		#{deductionoperacode,jdbcType=VARCHAR},
		#{deductionoperaname,jdbcType=VARCHAR},
		#{suttle,jdbcType=VARCHAR},
		to_date(#{suttletime,jdbcType=VARCHAR},'yyyy-MM-dd hh24:mi:ss'),
		#{suttleweighid,jdbcType=VARCHAR},
		#{suttleweigh,jdbcType=VARCHAR},
		#{suttleoperacode,jdbcType=VARCHAR},
		#{suttleoperaname,jdbcType=VARCHAR},
		#{matchidb,jdbcType=VARCHAR},
		#{suttleb,jdbcType=VARCHAR},
		#{grossb,jdbcType=VARCHAR},
		to_date(#{grosstimeb,jdbcType=VARCHAR},'yyyy-MM-dd hh24:mi:ss'),
		#{grossweighidb,jdbcType=VARCHAR},
		#{grossweighb,jdbcType=VARCHAR},
		#{grossoperacodeb,jdbcType=VARCHAR},
		#{grossoperanameb,jdbcType=VARCHAR},
		#{grossgroupnob,jdbcType=VARCHAR},
		#{grossserialb,jdbcType=VARCHAR},
		#{grossspeedb,jdbcType=VARCHAR},
		#{grosslogidb,jdbcType=VARCHAR},
		#{tareb,jdbcType=VARCHAR},
		to_date(#{taretimeb,jdbcType=VARCHAR},'yyyy-MM-dd hh24:mi:ss'),
		#{tareweighidb,jdbcType=VARCHAR},
		#{tareweighb,jdbcType=VARCHAR},
		#{tareoperacodeb,jdbcType=VARCHAR},
		#{tareoperanameb,jdbcType=VARCHAR},
		#{taregroupnob,jdbcType=VARCHAR},
		#{tareserialb,jdbcType=VARCHAR},
		#{tarelogidb,jdbcType=VARCHAR},
		#{tarespeedb,jdbcType=VARCHAR},
		#{batchcode,jdbcType=VARCHAR},
		#{bflag,jdbcType=VARCHAR},
		#{usermemo,jdbcType=VARCHAR},
		#{sysmemo,jdbcType=VARCHAR},
		#{recordtype,jdbcType=VARCHAR},
		#{memo1,jdbcType=VARCHAR},
		#{memo2,jdbcType=VARCHAR},
		#{memo3,jdbcType=VARCHAR},
		#{memo4,jdbcType=VARCHAR},
		#{memo5,jdbcType=VARCHAR},
		#{memo6,jdbcType=VARCHAR},
		#{memo7,jdbcType=VARCHAR},
		#{memo8,jdbcType=VARCHAR},
		#{memo9,jdbcType=VARCHAR},
		#{memo10,jdbcType=VARCHAR},
		#{memo11,jdbcType=VARCHAR},
		#{memo12,jdbcType=VARCHAR},
		#{memo13,jdbcType=VARCHAR},
		#{memo14,jdbcType=VARCHAR},
		#{memo15,jdbcType=VARCHAR}
		)
	</insert>
	<update id="updateMeasure" parameterType="measure">
		update m_measure_t
		set
		matchid = #{matchid,jdbcType=VARCHAR},
		carno =#{carno,jdbcType=VARCHAR},
		cartype = #{cartype,jdbcType=VARCHAR},
		rfidid = #{rfidid,jdbcType=VARCHAR},
		icid = #{icid,jdbcType=VARCHAR},
		operatype = #{operatype,jdbcType=VARCHAR},
		planid =#{planid,jdbcType=VARCHAR},
		taskcode = #{taskcode,jdbcType=VARCHAR},
		materialcode = #{materialcode,jdbcType=VARCHAR},
		materialname =#{materialname,jdbcType=VARCHAR},
		materialspeccode =#{materialspeccode,jdbcType=VARCHAR},
		materialspec =#{materialspec,jdbcType=VARCHAR},
		shipcode =#{shipcode,jdbcType=VARCHAR},
		ship = #{ship,jdbcType=VARCHAR},
		sourcecode = #{sourcecode,jdbcType=VARCHAR},
		sourcename =#{sourcename,jdbcType=VARCHAR},
		sourcetime =to_date(#{sourcetime,jdbcType=VARCHAR},'yyyy-MM-dd hh24:mi:ss'),
		sourceplace =#{sourceplace,jdbcType=VARCHAR},
		targetcode =#{targetcode,jdbcType=VARCHAR},
		targetname =#{targetname,jdbcType=VARCHAR},
		targettime =to_date(#{targettime,jdbcType=VARCHAR},'yyyy-MM-dd hh24:mi:ss'),
		targetplace =#{targetplace,jdbcType=VARCHAR},
		basket = #{basket,jdbcType=VARCHAR},
		planweight = #{planweight,jdbcType=VARCHAR},
		planmaterialcount =#{planmaterialcount,jdbcType=VARCHAR},
		materialcount =#{materialcount,jdbcType=VARCHAR},
		plancarcount =#{plancarcount,jdbcType=VARCHAR},
		gross = #{gross,jdbcType=VARCHAR},
		grosstime = to_date(#{grosstime,jdbcType=VARCHAR},'yyyy-MM-dd hh24:mi:ss'),
		grossweighid =#{grossweighid,jdbcType=VARCHAR},
		grossweigh =#{grossweigh,jdbcType=VARCHAR},
		grossoperacode =#{grossoperacode,jdbcType=VARCHAR},
		grossoperaname =#{grossoperaname,jdbcType=VARCHAR},
		grossgroupno =#{grossgroupno,jdbcType=VARCHAR},
		grossserial = #{grossserial,jdbcType=VARCHAR},
		grossspeed =#{grossspeed,jdbcType=VARCHAR},
		grosslogid =#{grosslogid,jdbcType=VARCHAR},
		tare = #{tare,jdbcType=VARCHAR},
		taretime = to_date(#{taretime,jdbcType=VARCHAR},'yyyy-MM-dd hh24:mi:ss'),
		tareweighid =#{tareweighid,jdbcType=VARCHAR},
		tareweigh =#{tareweigh,jdbcType=VARCHAR},
		tareoperacode =#{tareoperacode,jdbcType=VARCHAR},
		tareoperaname =#{tareoperaname,jdbcType=VARCHAR},
		taregroupno =#{taregroupno,jdbcType=VARCHAR},
		tareserial =#{tareserial,jdbcType=VARCHAR},
		tarelogid =#{tarelogid,jdbcType=VARCHAR},
		tarespeed =#{tarespeed,jdbcType=VARCHAR},
		deduction =#{deduction,jdbcType=VARCHAR},
		deduction2 =#{deduction2,jdbcType=VARCHAR},
		deductiontime =to_date(#{deductiontime,jdbcType=VARCHAR},'yyyy-MM-dd hh24:mi:ss'),
		deductioncode =#{deductioncode,jdbcType=VARCHAR},
		deductionname =#{deductionname,jdbcType=VARCHAR},
		deductionoperacode =#{deductionoperacode,jdbcType=VARCHAR},
		deductionoperaname =#{deductionoperaname,jdbcType=VARCHAR},
		suttle =#{suttle,jdbcType=VARCHAR},
		suttletime =to_date(#{suttletime,jdbcType=VARCHAR},'yyyy-MM-dd hh24:mi:ss'),
		suttleweighid =#{suttleweighid,jdbcType=VARCHAR},
		suttleweigh =#{suttleweigh,jdbcType=VARCHAR},
		suttleoperacode =#{suttleoperacode,jdbcType=VARCHAR},
		suttleoperaname =#{suttleoperaname,jdbcType=VARCHAR},
		matchidb =#{matchidb,jdbcType=VARCHAR},
		suttleb = #{suttleb,jdbcType=VARCHAR},
		grossb = #{grossb,jdbcType=VARCHAR},
		grosstimeb =to_date(#{grosstimeb,jdbcType=VARCHAR},'yyyy-MM-dd hh24:mi:ss'),
		grossweighidb =#{grossweighidb,jdbcType=VARCHAR},
		grossweighb =#{grossweighb,jdbcType=VARCHAR},
		grossoperacodeb =#{grossoperacodeb,jdbcType=VARCHAR},
		grossoperanameb =#{grossoperanameb,jdbcType=VARCHAR},
		grossgroupnob =#{grossgroupnob,jdbcType=VARCHAR},
		grossserialb =#{grossserialb,jdbcType=VARCHAR},
		grossspeedb =#{grossspeedb,jdbcType=VARCHAR},
		grosslogidb =#{grosslogidb,jdbcType=VARCHAR},
		tareb = #{tareb,jdbcType=VARCHAR},
		taretimeb = to_date(#{taretimeb,jdbcType=VARCHAR},'yyyy-MM-dd hh24:mi:ss'),
		tareweighidb =#{tareweighidb,jdbcType=VARCHAR},
		tareweighb =#{tareweighb,jdbcType=VARCHAR},
		tareoperacodeb =#{tareoperacodeb,jdbcType=VARCHAR},
		tareoperanameb =#{tareoperanameb,jdbcType=VARCHAR},
		taregroupnob =#{taregroupnob,jdbcType=VARCHAR},
		tareserialb =#{tareserialb,jdbcType=VARCHAR},
		tarelogidb =#{tarelogidb,jdbcType=VARCHAR},
		tarespeedb =#{tarespeedb,jdbcType=VARCHAR},
		usermemo = #{usermemo,jdbcType=VARCHAR},
		sysmemo =#{sysmemo,jdbcType=VARCHAR},
		recordtype =#{recordtype,jdbcType=VARCHAR},
		memo1 = #{memo1,jdbcType=VARCHAR},
		memo2 = #{memo2,jdbcType=VARCHAR},
		memo3 = #{memo3,jdbcType=VARCHAR},
		memo4 = #{memo4,jdbcType=VARCHAR},
		memo5 = #{memo5,jdbcType=VARCHAR},
		memo6 = #{memo6,jdbcType=VARCHAR},
		memo7 = #{memo7,jdbcType=VARCHAR},
		memo8 = #{memo8,jdbcType=VARCHAR},
		memo9 = #{memo9,jdbcType=VARCHAR},
		memo10 = #{memo10,jdbcType=VARCHAR},
		memo11 = #{memo11,jdbcType=VARCHAR},
		memo12 = #{memo12,jdbcType=VARCHAR},
		memo13 = #{memo13,jdbcType=VARCHAR},
		memo14 = #{memo14,jdbcType=VARCHAR},
		memo15 = #{memo15,jdbcType=VARCHAR}
		where matchid = #{matchid,jdbcType=VARCHAR}
	</update>
	<select id="selectTareBycarno" parameterType="measure"
		resultType="int">
		select count(carno) from m_tare_t where Carno = #{carno,jdbcType=VARCHAR}
	</select>
	<insert id="insertTare" parameterType="measure">
		insert into m_tare_t
		(carno,
		cartype,
		icid,
		rfidid,
		matchid,
		basicweight,
		validflag,
		tare,
		taretime,
		tareweighid,
		tareweigh,
		tareoperacode,
		tareoperaname,
		taregroupno,
		tareserial,
		tarelogid,
		tarespeed,
		usermemo,
		sysmemo,
		createdate,
		recordtype,
		clientid)
		values
		(#{carno,jdbcType=VARCHAR},
		#{cartype,jdbcType=VARCHAR},
		#{icid,jdbcType=VARCHAR},
		#{rfidid,jdbcType=VARCHAR},
		#{matchid,jdbcType=VARCHAR},
		#{tare,jdbcType=VARCHAR},
		1,
		#{tare,jdbcType=VARCHAR},
		to_date(#{taretime,jdbcType=VARCHAR},'yyyy-MM-dd hh24:mi:ss'),
		#{tareweighid,jdbcType=VARCHAR},
		#{tareweigh,jdbcType=VARCHAR},
		#{tareoperacode,jdbcType=VARCHAR},
		#{tareoperaname,jdbcType=VARCHAR},
		#{taregroupno,jdbcType=VARCHAR},
		#{tareserial,jdbcType=VARCHAR},
		#{tarelogid,jdbcType=VARCHAR},
		#{tarespeed,jdbcType=VARCHAR},
		#{usermemo,jdbcType=VARCHAR},
		#{sysmemo,jdbcType=VARCHAR},
		sysdate,
		#{recordtype,jdbcType=VARCHAR},
		#{clientid,jdbcType=VARCHAR})
	</insert>
	<update id="updateTare" parameterType="measure">
		update m_tare_t
		set cartype = #{cartype,jdbcType=VARCHAR},
		icid = #{icid,jdbcType=VARCHAR},
		rfidid = #{rfidid,jdbcType=VARCHAR},
		matchid = #{matchid,jdbcType=VARCHAR},
		validflag = 1,
		tare = #{tare,jdbcType=VARCHAR},
		taretime = to_date(#{taretime,jdbcType=VARCHAR},'yyyy-MM-dd hh24:mi:ss'),
		tareweighid = #{tareweighid,jdbcType=VARCHAR},
		tareweigh = #{tareweigh,jdbcType=VARCHAR},
		tareoperacode = #{tareoperacode,jdbcType=VARCHAR},
		tareoperaname = #{tareoperaname,jdbcType=VARCHAR},
		taregroupno = #{taregroupno,jdbcType=VARCHAR},
		tareserial = #{tareserial,jdbcType=VARCHAR},
		tarelogid = #{tarelogid,jdbcType=VARCHAR},
		tarespeed = #{tarespeed,jdbcType=VARCHAR},
		usermemo = #{usermemo,jdbcType=VARCHAR},
		sysmemo = #{sysmemo,jdbcType=VARCHAR},
		recordtype = #{recordtype,jdbcType=VARCHAR},
		clientid = #{clientid,jdbcType=VARCHAR}
		where carno = #{carno,jdbcType=VARCHAR}
	</update>
	<insert id="insertTareLog" parameterType="measure">
		insert into m_tare_log_t
		(logid,
		carno,
		cartype,
		icid,
		rfidid,
		matchid,
		tare,
		taretime,
		tareweighid,
		tareweigh,
		tareoperacode,
		tareoperaname,
		taregroupno,
		tareserial,
		tarelogid,
		tarespeed,
		usermemo,
		sysmemo,
		createdate,
		recordtype,
		clientid,
		logtime)
		values
		(m_tare_log_t_id.nextval,
		#{carno,jdbcType=VARCHAR},
		#{cartype,jdbcType=VARCHAR},
		#{icid,jdbcType=VARCHAR},
		#{rfidid,jdbcType=VARCHAR},
		#{matchid,jdbcType=VARCHAR},
		#{tare,jdbcType=VARCHAR},
		to_date(#{taretime,jdbcType=VARCHAR},'yyyy-MM-dd hh24:mi:ss'),
		#{tareweighid,jdbcType=VARCHAR},
		#{tareweigh,jdbcType=VARCHAR},
		#{tareoperacode,jdbcType=VARCHAR},
		#{tareoperaname,jdbcType=VARCHAR},
		#{taregroupno,jdbcType=VARCHAR},
		#{tareserial,jdbcType=VARCHAR},
		#{tarelogid,jdbcType=VARCHAR},
		#{tarespeed,jdbcType=VARCHAR},
		#{usermemo,jdbcType=VARCHAR},
		#{sysmemo,jdbcType=VARCHAR},
		sysdate,
		#{recordtype,jdbcType=VARCHAR},
		#{clientid,jdbcType=VARCHAR},
		sysdate)

	</insert>
	<insert id="insertMeasureLog" parameterType="measure">
		insert into m_measure_log_t
		(logid,
		matchid,
		carno,
		cartype,
		rfidid,
		icid,
		operatype,
		measurestate,
		planid,
		taskcode,
		materialcode,
		materialname,
		materialspeccode,
		materialspec,
		shipcode,
		ship,
		sourcecode,
		sourcename,
		sourcetime,
		sourceplace,
		targetcode,
		targetname,
		targettime,
		targetplace,
		basket,
		planweight,
		planmaterialcount,
		materialcount,
		plancarcount,
		gross,
		grosstime,
		grossweighid,
		grossweigh,
		grossoperacode,
		grossoperaname,
		grossgroupno,
		grossserial,
		grossspeed,
		grosslogid,
		tare,
		taretime,
		tareweighid,
		tareweigh,
		tareoperacode,
		tareoperaname,
		taregroupno,
		tareserial,
		tarelogid,
		tarespeed,
		deduction,
		deduction2,
		deductiontime,
		deductioncode,
		deductionname,
		deductionoperacode,
		deductionoperaname,
		suttle,
		suttletime,
		suttleweighid,
		suttleweigh,
		suttleoperacode,
		suttleoperaname,
		matchidb,
		suttleb,
		grossb,
		grosstimeb,
		grossweighidb,
		grossweighb,
		grossoperacodeb,
		grossoperanameb,
		grossgroupnob,
		grossserialb,
		grossspeedb,
		grosslogidb,
		tareb,
		taretimeb,
		tareweighidb,
		tareweighb,
		tareoperacodeb,
		tareoperanameb,
		taregroupnob,
		tareserialb,
		tarelogidb,
		tarespeedb,
		batchcode,
		bflag,
		usermemo,
		sysmemo,
		recordtype)
		values
		(M_MEASURELOGID_S.nextval,
		#{matchid,jdbcType=VARCHAR},
		#{carno,jdbcType=VARCHAR},
		#{cartype,jdbcType=VARCHAR},
		#{rfidid,jdbcType=VARCHAR},
		#{icid,jdbcType=VARCHAR},
		#{operatype,jdbcType=VARCHAR},
		#{measurestate,jdbcType=VARCHAR},
		#{planid,jdbcType=VARCHAR},
		#{taskcode,jdbcType=VARCHAR},
		#{materialcode,jdbcType=VARCHAR},
		#{materialname,jdbcType=VARCHAR},
		#{materialspeccode,jdbcType=VARCHAR},
		#{materialspec,jdbcType=VARCHAR},
		#{shipcode,jdbcType=VARCHAR},
		#{ship,jdbcType=VARCHAR},
		#{sourcecode,jdbcType=VARCHAR},
		#{sourcename,jdbcType=VARCHAR},
		to_date(#{sourcetime,jdbcType=VARCHAR},'yyyy-MM-dd hh24:mi:ss'),
		#{sourceplace,jdbcType=VARCHAR},
		#{targetcode,jdbcType=VARCHAR},
		#{targetname,jdbcType=VARCHAR},
		to_date(#{targettime,jdbcType=VARCHAR},'yyyy-MM-dd hh24:mi:ss'),
		#{targetplace,jdbcType=VARCHAR},
		#{basket,jdbcType=VARCHAR},
		#{planweight,jdbcType=VARCHAR},
		#{planmaterialcount,jdbcType=VARCHAR},
		#{materialcount,jdbcType=VARCHAR},
		#{plancarcount,jdbcType=VARCHAR},
		#{gross,jdbcType=VARCHAR},
		to_date(#{grosstime,jdbcType=VARCHAR},'yyyy-MM-dd hh24:mi:ss'),
		#{grossweighid,jdbcType=VARCHAR},
		#{grossweigh,jdbcType=VARCHAR},
		#{grossoperacode,jdbcType=VARCHAR},
		#{grossoperaname,jdbcType=VARCHAR},
		#{grossgroupno,jdbcType=VARCHAR},
		#{grossserial,jdbcType=VARCHAR},
		#{grossspeed,jdbcType=VARCHAR},
		#{grosslogid,jdbcType=VARCHAR},
		#{tare,jdbcType=VARCHAR},
		to_date(#{taretime,jdbcType=VARCHAR},'yyyy-MM-dd hh24:mi:ss'),
		#{tareweighid,jdbcType=VARCHAR},
		#{tareweigh,jdbcType=VARCHAR},
		#{tareoperacode,jdbcType=VARCHAR},
		#{tareoperaname,jdbcType=VARCHAR},
		#{taregroupno,jdbcType=VARCHAR},
		#{tareserial,jdbcType=VARCHAR},
		#{tarelogid,jdbcType=VARCHAR},
		#{tarespeed,jdbcType=VARCHAR},
		#{deduction,jdbcType=VARCHAR},
		#{deduction2,jdbcType=VARCHAR},
		to_date(#{deductiontime,jdbcType=VARCHAR},'yyyy-MM-dd hh24:mi:ss'),
		#{deductioncode,jdbcType=VARCHAR},
		#{deductionname,jdbcType=VARCHAR},
		#{deductionoperacode,jdbcType=VARCHAR},
		#{deductionoperaname,jdbcType=VARCHAR},
		#{suttle,jdbcType=VARCHAR},
		to_date(#{suttletime,jdbcType=VARCHAR},'yyyy-MM-dd hh24:mi:ss'),
		#{suttleweighid,jdbcType=VARCHAR},
		#{suttleweigh,jdbcType=VARCHAR},
		#{suttleoperacode,jdbcType=VARCHAR},
		#{suttleoperaname,jdbcType=VARCHAR},
		#{matchidb,jdbcType=VARCHAR},
		#{suttleb,jdbcType=VARCHAR},
		#{grossb,jdbcType=VARCHAR},
		to_date(#{grosstimeb,jdbcType=VARCHAR},'yyyy-MM-dd hh24:mi:ss'),
		#{grossweighidb,jdbcType=VARCHAR},
		#{grossweighb,jdbcType=VARCHAR},
		#{grossoperacodeb,jdbcType=VARCHAR},
		#{grossoperanameb,jdbcType=VARCHAR},
		#{grossgroupnob,jdbcType=VARCHAR},
		#{grossserialb,jdbcType=VARCHAR},
		#{grossspeedb,jdbcType=VARCHAR},
		#{grosslogidb,jdbcType=VARCHAR},
		#{tareb,jdbcType=VARCHAR},
		to_date(#{taretimeb,jdbcType=VARCHAR},'yyyy-MM-dd hh24:mi:ss'),
		#{tareweighidb,jdbcType=VARCHAR},
		#{tareweighb,jdbcType=VARCHAR},
		#{tareoperacodeb,jdbcType=VARCHAR},
		#{tareoperanameb,jdbcType=VARCHAR},
		#{taregroupnob,jdbcType=VARCHAR},
		#{tareserialb,jdbcType=VARCHAR},
		#{tarelogidb,jdbcType=VARCHAR},
		#{tarespeedb,jdbcType=VARCHAR},
		#{batchcode,jdbcType=VARCHAR},
		#{bflag,jdbcType=VARCHAR},
		#{usermemo,jdbcType=VARCHAR},
		#{sysmemo,jdbcType=VARCHAR},
		#{recordtype,jdbcType=VARCHAR})
	</insert>
	
	<insert id="insertMeasureTemp" parameterType="measure">
		insert into m_measure_temp_t
		(id,
		matchid,
		carno,
		cartype,
		rfidid,
		icid,
		operatype,
		planid,
		taskcode,
		materialcode,
		materialname,
		materialspeccode,
		materialspec,
		shipcode,
		ship,
		sourcecode,
		sourcename,
		sourceplace,
		targetcode,
		targetname,
		targetplace,
		basket,
		planweight,
		planmaterialcount,
		materialcount,
		plancarcount,
		gross,
		grosstime,
		grossweighid,
		grossweigh,
		grossoperacode,
		grossoperaname,
		grossgroupno,
		grossserial,
		grossspeed,
		grosslogid,
		tare,
		taretime,
		tareweighid,
		tareweigh,
		tareoperacode,
		tareoperaname,
		taregroupno,
		tareserial,
		tarelogid,
		tarespeed,
		deduction,
		deduction2,
		deductiontime,
		deductioncode,
		deductionname,
		deductionoperacode,
		deductionoperaname,
		suttle,
		suttletime,
		suttleweighid,
		suttleweigh,
		suttleoperacode,
		suttleoperaname,
		matchidb,
		suttleb,
		grossb,
		grosstimeb,
		grossweighidb,
		grossweighb,
		grossoperacodeb,
		grossoperanameb,
		grossgroupnob,
		grossserialb,
		grossspeedb,
		grosslogidb,
		tareb,
		taretimeb,
		tareweighidb,
		tareweighb,
		tareoperacodeb,
		tareoperanameb,
		taregroupnob,
		tareserialb,
		tarelogidb,
		tarespeedb,
		batchcode,
		bflag,
		usermemo,
		sysmemo,
		recordtype,
		memo1,
		memo2,
		memo3,
		memo4,
		memo5,
		memo6,
		memo7,
		memo8,
		memo9,
		memo10,
		memo11,
		memo12,
		memo13,
		memo14,
		memo15
		)
		values
		(m_measure_temp_s.nextval ,
		#{matchid,jdbcType=VARCHAR},
		#{carno,jdbcType=VARCHAR},
		#{cartype,jdbcType=VARCHAR},
		#{rfidid,jdbcType=VARCHAR},
		#{icid,jdbcType=VARCHAR},
		#{operatype,jdbcType=VARCHAR},
		#{planid,jdbcType=VARCHAR},
		#{taskcode,jdbcType=VARCHAR},
		#{materialcode,jdbcType=VARCHAR},
		#{materialname,jdbcType=VARCHAR},
		#{materialspeccode,jdbcType=VARCHAR},
		#{materialspec,jdbcType=VARCHAR},
		#{shipcode,jdbcType=VARCHAR},
		#{ship,jdbcType=VARCHAR},
		#{sourcecode,jdbcType=VARCHAR},
		#{sourcename,jdbcType=VARCHAR},
		#{sourceplace,jdbcType=VARCHAR},
		#{targetcode,jdbcType=VARCHAR},
		#{targetname,jdbcType=VARCHAR},
		#{targetplace,jdbcType=VARCHAR},
		#{basket,jdbcType=VARCHAR},
		#{planweight,jdbcType=VARCHAR},
		#{planmaterialcount,jdbcType=VARCHAR},
		#{materialcount,jdbcType=VARCHAR},
		#{plancarcount,jdbcType=VARCHAR},
		#{gross,jdbcType=VARCHAR},
		to_date(#{grosstime,jdbcType=VARCHAR},'yyyy-MM-dd hh24:mi:ss'),
		#{grossweighid,jdbcType=VARCHAR},
		#{grossweigh,jdbcType=VARCHAR},
		#{grossoperacode,jdbcType=VARCHAR},
		#{grossoperaname,jdbcType=VARCHAR},
		#{grossgroupno,jdbcType=VARCHAR},
		#{grossserial,jdbcType=VARCHAR},
		#{grossspeed,jdbcType=VARCHAR},
		#{grosslogid,jdbcType=VARCHAR},
		#{tare,jdbcType=VARCHAR},
		to_date(#{taretime,jdbcType=VARCHAR},'yyyy-MM-dd hh24:mi:ss'),
		#{tareweighid,jdbcType=VARCHAR},
		#{tareweigh,jdbcType=VARCHAR},
		#{tareoperacode,jdbcType=VARCHAR},
		#{tareoperaname,jdbcType=VARCHAR},
		#{taregroupno,jdbcType=VARCHAR},
		#{tareserial,jdbcType=VARCHAR},
		#{tarelogid,jdbcType=VARCHAR},
		#{tarespeed,jdbcType=VARCHAR},
		#{deduction,jdbcType=VARCHAR},
		#{deduction2,jdbcType=VARCHAR},
		to_date(#{deductiontime,jdbcType=VARCHAR},'yyyy-MM-dd hh24:mi:ss'),
		#{deductioncode,jdbcType=VARCHAR},
		#{deductionname,jdbcType=VARCHAR},
		#{deductionoperacode,jdbcType=VARCHAR},
		#{deductionoperaname,jdbcType=VARCHAR},
		#{suttle,jdbcType=VARCHAR},
		to_date(#{suttletime,jdbcType=VARCHAR},'yyyy-MM-dd hh24:mi:ss'),
		#{suttleweighid,jdbcType=VARCHAR},
		#{suttleweigh,jdbcType=VARCHAR},
		#{suttleoperacode,jdbcType=VARCHAR},
		#{suttleoperaname,jdbcType=VARCHAR},
		#{matchidb,jdbcType=VARCHAR},
		#{suttleb,jdbcType=VARCHAR},
		#{grossb,jdbcType=VARCHAR},
		to_date(#{grosstimeb,jdbcType=VARCHAR},'yyyy-MM-dd hh24:mi:ss'),
		#{grossweighidb,jdbcType=VARCHAR},
		#{grossweighb,jdbcType=VARCHAR},
		#{grossoperacodeb,jdbcType=VARCHAR},
		#{grossoperanameb,jdbcType=VARCHAR},
		#{grossgroupnob,jdbcType=VARCHAR},
		#{grossserialb,jdbcType=VARCHAR},
		#{grossspeedb,jdbcType=VARCHAR},
		#{grosslogidb,jdbcType=VARCHAR},
		#{tareb,jdbcType=VARCHAR},
		to_date(#{taretimeb,jdbcType=VARCHAR},'yyyy-MM-dd hh24:mi:ss'),
		#{tareweighidb,jdbcType=VARCHAR},
		#{tareweighb,jdbcType=VARCHAR},
		#{tareoperacodeb,jdbcType=VARCHAR},
		#{tareoperanameb,jdbcType=VARCHAR},
		#{taregroupnob,jdbcType=VARCHAR},
		#{tareserialb,jdbcType=VARCHAR},
		#{tarelogidb,jdbcType=VARCHAR},
		#{tarespeedb,jdbcType=VARCHAR},
		#{batchcode,jdbcType=VARCHAR},
		#{bflag,jdbcType=VARCHAR},
		#{usermemo,jdbcType=VARCHAR},
		#{sysmemo,jdbcType=VARCHAR},
		#{recordtype,jdbcType=VARCHAR},
		#{memo1,jdbcType=VARCHAR},
		#{memo2,jdbcType=VARCHAR},
		#{memo3,jdbcType=VARCHAR},
		#{memo4,jdbcType=VARCHAR},
		#{memo5,jdbcType=VARCHAR},
		#{memo6,jdbcType=VARCHAR},
		#{memo7,jdbcType=VARCHAR},
		#{memo8,jdbcType=VARCHAR},
		#{memo9,jdbcType=VARCHAR},
		#{memo10,jdbcType=VARCHAR},
		#{memo11,jdbcType=VARCHAR},
		#{memo12,jdbcType=VARCHAR},
		#{memo13,jdbcType=VARCHAR},
		#{memo14,jdbcType=VARCHAR},
		#{memo15,jdbcType=VARCHAR}
		)
	</insert>
	<update id="updateMeasureTemp" parameterType="measure">
		update  m_measure_temp_t set 
	    matchid= #{matchid,jdbcType=VARCHAR},
	    carno=  #{carno,jdbcType=VARCHAR},
	    cartype=#{cartype,jdbcType=VARCHAR},
	    rfidid=#{rfidid,jdbcType=VARCHAR},
	    icid=#{icid,jdbcType=VARCHAR},
	    operatype=#{operatype,jdbcType=VARCHAR},
	    planid=#{planid,jdbcType=VARCHAR},
	    taskcode=#{taskcode,jdbcType=VARCHAR},
	    materialcode=#{materialcode,jdbcType=VARCHAR},
	    materialname= #{materialname,jdbcType=VARCHAR},
	    materialspeccode=#{materialspeccode,jdbcType=VARCHAR},
	    materialspec=#{materialspec,jdbcType=VARCHAR},
	    shipcode=#{shipcode,jdbcType=VARCHAR},
	    ship=#{ship,jdbcType=VARCHAR},
	    sourcecode=#{sourcecode,jdbcType=VARCHAR},
	    sourcename=#{sourcename,jdbcType=VARCHAR},
	    sourceplace=#{sourceplace,jdbcType=VARCHAR},
	    targetcode= #{targetcode,jdbcType=VARCHAR},
	    targetname=#{targetname,jdbcType=VARCHAR},
	    targetplace=#{targetplace,jdbcType=VARCHAR},    
	    basket=#{basket,jdbcType=VARCHAR},
	    planweight=#{planweight,jdbcType=VARCHAR},
	    planmaterialcount=#{planmaterialcount,jdbcType=VARCHAR},
	    materialcount=#{materialcount,jdbcType=VARCHAR},
	    gross=#{gross,jdbcType=VARCHAR},
	    grosstime=to_date(#{grosstime,jdbcType=VARCHAR},'yyyy-MM-dd hh24:mi:ss'),
	    grossweighid=#{grossweighid,jdbcType=VARCHAR},
	    grossweigh=#{grossweigh,jdbcType=VARCHAR},
	    grossoperacode=#{grossoperacode,jdbcType=VARCHAR},
	    grossoperaname=#{grossoperaname,jdbcType=VARCHAR},
	    grossgroupno=#{grossgroupno,jdbcType=VARCHAR},
	    grossserial=#{grossserial,jdbcType=VARCHAR},
	    grossspeed=#{grossspeed,jdbcType=VARCHAR},
	    grosslogid=#{grosslogid,jdbcType=VARCHAR},    
	    tare=  #{tare,jdbcType=VARCHAR},
	    taretime=to_date(#{taretime,jdbcType=VARCHAR},'yyyy-MM-dd hh24:mi:ss'),
	    tareweighid=#{tareweighid,jdbcType=VARCHAR},
	    tareweigh=#{tareweigh,jdbcType=VARCHAR},
	    tareoperacode=#{tareoperacode,jdbcType=VARCHAR},
	    tareoperaname=#{tareoperaname,jdbcType=VARCHAR},
	    taregroupno=#{taregroupno,jdbcType=VARCHAR},
	    tareserial=#{tareserial,jdbcType=VARCHAR},
	    tarelogid=#{tarelogid,jdbcType=VARCHAR},
	    tarespeed=#{tarespeed,jdbcType=VARCHAR},
	    deduction=#{deduction,jdbcType=VARCHAR},
	    deduction2=#{deduction2,jdbcType=VARCHAR},
	    deductiontime=to_date(#{deductiontime,jdbcType=VARCHAR},'yyyy-MM-dd hh24:mi:ss'),
	    deductioncode=#{deductioncode,jdbcType=VARCHAR},
	    deductionname=#{deductionname,jdbcType=VARCHAR},
	    deductionoperacode=#{deductionoperacode,jdbcType=VARCHAR},
	    deductionoperaname=#{deductionoperaname,jdbcType=VARCHAR},    
	    suttle=#{suttle,jdbcType=VARCHAR},
	    suttletime=to_date(#{suttletime,jdbcType=VARCHAR},'yyyy-MM-dd hh24:mi:ss'),
	    suttleweighid=#{suttleweighid,jdbcType=VARCHAR},
	    suttleweigh=#{suttleweigh,jdbcType=VARCHAR},
	    suttleoperacode=#{suttleoperacode,jdbcType=VARCHAR},
	    suttleoperaname=#{suttleoperaname,jdbcType=VARCHAR},
	    matchidb=#{matchidb,jdbcType=VARCHAR},
	    suttleb=#{suttleb,jdbcType=VARCHAR},
	    grossb=#{grossb,jdbcType=VARCHAR},
	    grosstimeb=to_date(#{grosstimeb,jdbcType=VARCHAR},'yyyy-MM-dd hh24:mi:ss'),
	    grossweighidb=#{grossweighidb,jdbcType=VARCHAR},
	    grossweighb=#{grossweighb,jdbcType=VARCHAR},
	    grossoperacodeb=#{grossoperacodeb,jdbcType=VARCHAR},
	    grossoperanameb=#{grossoperanameb,jdbcType=VARCHAR},
	    grossgroupnob=#{grossgroupnob,jdbcType=VARCHAR},
	    grossserialb=#{grossserialb,jdbcType=VARCHAR},
	    grossspeedb=#{grossspeedb,jdbcType=VARCHAR},
	    grosslogidb=#{grosslogidb,jdbcType=VARCHAR},    
	    tareb=#{tareb,jdbcType=VARCHAR},
	    taretimeb=to_date(#{taretimeb,jdbcType=VARCHAR},'yyyy-MM-dd hh24:mi:ss'),
	    tareweighidb=#{tareweighidb,jdbcType=VARCHAR},
	    tareweighb=#{tareweighb,jdbcType=VARCHAR},
	    tareoperacodeb=#{tareoperacodeb,jdbcType=VARCHAR},
	    tareoperanameb=#{tareoperanameb,jdbcType=VARCHAR},
	    taregroupnob=#{taregroupnob,jdbcType=VARCHAR},
	    tareserialb=#{tareserialb,jdbcType=VARCHAR},
	    tarelogidb=#{tarelogidb,jdbcType=VARCHAR},
	    tarespeedb=#{tarespeedb,jdbcType=VARCHAR},
	    batchcode=#{batchcode,jdbcType=VARCHAR},
	    bflag=#{bflag,jdbcType=VARCHAR},
	    usermemo=#{usermemo,jdbcType=VARCHAR},
	    sysmemo=#{sysmemo,jdbcType=VARCHAR},
	    recordtype=#{recordtype,jdbcType=VARCHAR},
	    memo1=#{memo1,jdbcType=VARCHAR},
	    memo2=#{memo2,jdbcType=VARCHAR},
	    memo3=#{memo3,jdbcType=VARCHAR},
	    memo4=#{memo4,jdbcType=VARCHAR},
	    memo5= #{memo5,jdbcType=VARCHAR},
	    memo6=#{memo6,jdbcType=VARCHAR},
	    memo7=#{memo7,jdbcType=VARCHAR},
	    memo8=#{memo8,jdbcType=VARCHAR},
	    memo9=#{memo9,jdbcType=VARCHAR},
	    memo10=#{memo10,jdbcType=VARCHAR},
	    memo11=#{memo11,jdbcType=VARCHAR},
	    memo12=#{memo12,jdbcType=VARCHAR},
	    memo13=#{memo13,jdbcType=VARCHAR},
	    memo14=#{memo14,jdbcType=VARCHAR},
	    memo15=#{memo15,jdbcType=VARCHAR}
	   where carno=#{carno,jdbcType=VARCHAR}
	  
	</update>
	
	<select id="queryMeasureTemp" parameterType="measure"  resultType="measure">
		select matchid,
		       carno,
		       cartype,
		       rfidid,
		       icid,
		       operatype,
		       planid,
		       taskcode,
		       materialcode,
		       materialname,
		       materialspeccode,
		       materialspec,
		       shipcode,
		       ship,
		       sourcecode,
		       sourcename,
		       to_char(sourcetime, 'yyyy-MM-dd hh24:mi:ss') sourcetime,
		       sourceplace,
		       targetcode,
		       targetname,
		       to_char(targettime, 'yyyy-MM-dd hh24:mi:ss') targettime,
		       targetplace,
		       basket,
		       planweight,
		       planmaterialcount,
		       materialcount,
		       plancarcount,
		       gross,
		       to_char(grosstime, 'yyyy-MM-dd hh24:mi:ss') grosstime,
		       grossweighid,
		       grossweigh,
		       grossoperacode,
		       grossoperaname,
		       grossgroupno,
		       grossserial,
		       grossspeed,
		       grosslogid,
		       tare,
		       to_char(taretime, 'yyyy-MM-dd hh24:mi:ss') taretime,
		       tareweighid,
		       tareweigh,
		       tareoperacode,
		       tareoperaname,
		       taregroupno,
		       tareserial,
		       tarelogid,
		       tarespeed,
		       deduction,
		       deduction2,
		       to_char(deductiontime, 'yyyy-MM-dd hh24:mi:ss') deductiontime,
		       deductioncode,
		       deductionname,
		       deductionoperacode,
		       deductionoperaname,
		       suttle,
		       to_char(suttletime, 'yyyy-MM-dd hh24:mi:ss') suttletime,
		       suttleweighid,
		       suttleweigh,
		       suttleoperacode,
		       suttleoperaname,
		       matchidb,
		       suttleb,
		       grossb,
		       to_char(grosstimeb, 'yyyy-MM-dd hh24:mi:ss') grosstimeb,
		       grossweighidb,
		       grossweighb,
		       grossoperacodeb,
		       grossoperanameb,
		       grossgroupnob,
		       grossserialb,
		       grossspeedb,
		       grosslogidb,
		       tareb,
		       to_char(taretimeb, 'yyyy-MM-dd hh24:mi:ss') taretimeb,
		       tareweighidb,
		       tareweighb,
		       tareoperacodeb,
		       tareoperanameb,
		       taregroupnob,
		       tareserialb,
		       tarelogidb,
		       tarespeedb,
		       batchcode,
		       bflag,
		       usermemo,
		       sysmemo,
		       recordtype,
		       memo1,
		       memo2,
		       memo3,
		       memo4,
		       memo5,
		       memo6,
		       memo7,
		       memo8,
		       memo9,
		       memo10,
		       memo11,
		       memo12,
		       memo13,
		       memo14,
		       memo15,
		       createdate,
		       decode(memo1, '计皮', 'G', '计毛', 'T', '回皮', 'G', '回毛', 'T') as measurestate
		  from m_measure_temp_t m
		  where m.memo6=#{memo6,jdbcType=VARCHAR}
	</select>
	<select id="queryMeasureTempCount" parameterType="measure"  resultType="int">
		select count(1)
		  from m_measure_temp_t m
		  where m.carno=#{carno,jdbcType=VARCHAR}
	</select>
	<delete id="deleteMeasureTemp" parameterType="measure">
	  delete from m_measure_temp_t m  where m.memo6=#{memo6,jdbcType=VARCHAR}
	</delete>
	<delete id="deleteMeasureTempBycarno" parameterType="measure">
	  delete from m_measure_temp_t m  where m.carno=#{carno,jdbcType=VARCHAR}
	</delete>
	<insert id="insertWeightbak" parameterType="weightbak">
	 insert into m_weight_bak_t
		  (id,
		   boundno,
		   datetime,
		   weight,
		   speed,
		   type,
		   trainnum,
		   traintype,
		   pic1,
		   pic2,
		   pic3,
		   video1,
		   video2,
		   video3,
		   matchflag,
		   lietime,
		   lieno,
		   isuse,
		   lcfx)
		values
		  (
		   #{id,jdbcType=VARCHAR},
		   #{boundno,jdbcType=VARCHAR},
		   to_date(#{datetime,jdbcType=VARCHAR},'yyyy-MM-dd hh24:mi:ss'),
		   #{weight,jdbcType=VARCHAR},
		   #{speed,jdbcType=VARCHAR},
		   #{type,jdbcType=VARCHAR},
		   #{trainnum,jdbcType=VARCHAR},
		   #{traintype,jdbcType=VARCHAR},
		   #{pic1,jdbcType=VARCHAR},
		   #{pic2,jdbcType=VARCHAR},
		   #{pic3,jdbcType=VARCHAR},
		   #{video1,jdbcType=VARCHAR},
		   #{video2,jdbcType=VARCHAR},
		   #{video3,jdbcType=VARCHAR},
		   #{matchflag,jdbcType=VARCHAR},
		   #{lietime,jdbcType=VARCHAR},
		   #{lieno,jdbcType=VARCHAR},
		   #{isuse,jdbcType=VARCHAR},
		   #{lcfx,jdbcType=VARCHAR})
	</insert>
	<select id="queryMeasureCount" parameterType="measure"  resultType="int">
		select count(1)
		  from m_measure_t m
		  where m.matchid=#{matchid,jdbcType=VARCHAR}
	</select>
</mapper>